@model PagedList.IPagedList<ProjectBlog.Models.Post>
@using PagedList.Mvc;

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Lista de Posts</h2>

<br />
<div class="row" id="row-busca">
    <div class="col-md-8">
        @using (Html.BeginForm("List", "Posts", FormMethod.Get, new { @class = "form-inline" }))
            {
            <div class="input-group pull-right">
                <input type="text" class="form-control" placeholder="Buscar..." name="busca" value="@ViewBag.Busca">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">Buscar</button>
                </span>
            </div>
        }
    </div>
</div>
<br />

<p>
    @Html.ActionLink("Criar Posts", "Create", new { }, new { @class = "btn btn-primary" })
</p>


@if (TempData["MessagePanel"] != null)
{
    <div class="alert alert-success">
        @TempData["MessagePanel"]
    </div>
}

@if (ViewBag.Mensagem != null)
{
    <div class="alert alert-warning">
        @ViewBag.Mensagem
    </div>
}


<table class="table">
    <tr>
        <th>
            @Html.LabelForModel("Id")
        </th>
        <th>
            @Html.LabelForModel("Titulo")
        </th>
        <th>
            @Html.LabelForModel("Categoria")
        </th>
        <th>
            @Html.LabelForModel("Autor")
        </th>
        <th>
            @Html.LabelForModel("Data")
        </th>           
        <th>
            @Html.LabelForModel("Tags")
        </th>
        <th>
            @Html.LabelForModel("Imagens")
        </th>
        <th>
            @Html.LabelForModel("Opções")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Create_time)
            </td>         
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.PostId }, new { @class = "btn btn-success btn-sm" }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.PostId }, new { @class = "btn btn-info btn-sm" }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.PostId }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }
</table>
<br/>
<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, pagina => Url.Action("List", new { pagina, busca = ViewBag.Busca }))
    </div>
    <div class="col-md-4">
        <span class="pull-right">
            Listando registros de @Model.FirstItemOnPage a @Model.LastItemOnPage de um total de @Model.TotalItemCount
        </span>
    </div>
</div>









