@model ProjectBlog.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "Alterar Senha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alterar Senha</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.CurrentPassword, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new {@class = "form-control form-control-sm"@*, @required = "required"*@ }})
                @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control form-control-sm"@*, @required = "required"*@ } }) 
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.PasswordConfirmation, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PasswordConfirmation, new { htmlAttributes = new { @class = "form-control form-control-sm"@*, @required = "required"*@ }
           })
                @Html.ValidationMessageFor(model => model.PasswordConfirmation, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-sm-1 col-form-label">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}





