@model IEnumerable<ProjectBlog.Models.User>

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Lista de Usuários</h2>
<br />

<p>
    @Html.ActionLink("Cadastrar", "Create", new { }, new { @class = "btn btn-primary" })
</p>


@if (TempData["MessagePanel"] != null)
{
    <div class="alert alert-success">
        @TempData["MessagePanel"]
    </div>
}

@if (ViewBag.Mensagem != null)
{
    <div class="alert alert-warning">
        @ViewBag.Mensagem
    </div>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>    
        <th>
            @Html.DisplayNameFor(model => model.ActiveUser)
        </th>
        <th>
           @Html.LabelForModel("Tipo de Usuário")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>     
        <td>
            @Html.DisplayFor(modelItem => item.ActiveUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Types)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.UserId }, new { @class = "btn btn-success btn-sm" }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.UserId }, new { @class = "btn btn-info btn-sm" }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.UserId }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
